[submodule "Source code/Arduino_Platformio/PM2.5_Firebase_V1_Arduino"]
	path = Source code/Arduino_Platformio/PM2.5_Firebase_V1_Arduino
	url = https://github.com/rmutr/PM2.5_Firebase_V1_Arduino
[submodule "Source code/Flutter/PM2.5_Firebase_V1_Flutter"]
	path = Source code/Flutter/PM2.5_Firebase_V1_Flutter
	url = https://github.com/rmutr/PM2.5_Firebase_V1_Flutter
